body {
  font-family: Helvetica, sans-serif;
}

header {
  background: #479D9A; /* #479D9A, #6F5BB1, #224389, #3AAC1C, #9C1A72, #CD2E22 */
  padding: 20px 0;
}

header h1 {
  font-size: 300%;
  color: #E7E7E7;
  margin: 35px 0 10px;
  text-transform: capitalize;
  text-align: left;
}


#content {
  margin-bottom: 30px;
}

#content .title {
  color: #479D9A;
  border-bottom: 2px solid #479D9A;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer {
  background: #479D9A;
  padding: 10px 0 0;
}

footer p {
  color: #E7E7E7;
  text-align: center;
}